<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>madmin</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

  <body ng-app="app" ng-controller="appCtrl">
  
         
        <div ui-view=""></div>
        <div ui-view="menuView"></div>
        <div class="messageflash row">
            <mc-messages class="col-xs-12"></mc-messages>
        </div>
        <div ui-view="rootView"></div>
       

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, filesin your `assets/linker/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/dependencies/jquery-ui-custom.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/js/dependencies/myfunctionsTools.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/marked/marked.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/metisMenu/dist/jquery.metisMenu.min.js"></script>
    <script src="/bower_components/raphael/raphael-min.js"></script>
    <script src="/bower_components/morrisjs/morris.min.js"></script>
    <script src="/bower_components/sb-admin-v2/js/sb-admin.js"></script>
    <script src="/bower_components/tinycolor/tinycolor.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/ng-fab-form/dist/ng-fab-form.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/satellizer/satellizer.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/moment/locale/fr.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/bower_components/angularSails/dist/ngsails.io.js"></script>
    <script src="/bower_components/Chart.js/Chart.js"></script>
    <script src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="/bower_components/ngImgCrop/compile/minified/ng-img-crop.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload-shim.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="/bower_components/message-center/message-center.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="/bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="/bower_components/jquery-minicolors/jquery.minicolors.js"></script>
    <script src="/bower_components/angular-minicolors/angular-minicolors.js"></script>
    <script src="/bower_components/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>
    <script src="/bower_components/angular-elastic/elastic.js"></script>
    <script src="/js/backoffice/app.js"></script>
    <script src="/js/backoffice/appconfig.js"></script>
    <script src="/js/backoffice/blog (copie)/articleController.js"></script>
    <script src="/js/backoffice/blog (copie)/articleService.js"></script>
    <script src="/js/backoffice/blog (copie)/categoryBlogController.js"></script>
    <script src="/js/backoffice/blog (copie)/categoryBlogService.js"></script>
    <script src="/js/backoffice/blog/articleController.js"></script>
    <script src="/js/backoffice/blog/articleService.js"></script>
    <script src="/js/backoffice/blog/categoryBlogController.js"></script>
    <script src="/js/backoffice/blog/categoryBlogService.js"></script>
    <script src="/js/backoffice/dashboard/dashController.js"></script>
    <script src="/js/backoffice/directives/auditref.js"></script>
    <script src="/js/backoffice/directives/autoGrow.js"></script>
    <script src="/js/backoffice/directives/autofocus.js"></script>
    <script src="/js/backoffice/directives/datepickerpopupFix.js"></script>
    <script src="/js/backoffice/directives/inputCount.js"></script>
    <script src="/js/backoffice/directives/nextField.js"></script>
    <script src="/js/backoffice/directives/ngload.js"></script>
    <script src="/js/backoffice/directives/removeremove.js"></script>
    <script src="/js/backoffice/directives/removeremoveTable.js"></script>
    <script src="/js/backoffice/directives/textareaCountdown.js"></script>
    <script src="/js/backoffice/directives/urlprefixer.js"></script>
    <script src="/js/backoffice/filters/byteFilters.js"></script>
    <script src="/js/backoffice/filters/regex.js"></script>
    <script src="/js/backoffice/global/accountService.js"></script>
    <script src="/js/backoffice/global/appController.js"></script>
    <script src="/js/backoffice/global/configService.js"></script>
    <script src="/js/backoffice/global/mainController.js"></script>
    <script src="/js/backoffice/global/notificationService.js"></script>
    <script src="/js/backoffice/global/profileController.js"></script>
    <script src="/js/backoffice/media/documentService.js"></script>
    <script src="/js/backoffice/media/documentsController.js"></script>
    <script src="/js/backoffice/media/imageController.js"></script>
    <script src="/js/backoffice/media/imageService.js"></script>
    <script src="/js/backoffice/modules/local-fr.js"></script>
    <script src="/js/backoffice/modules/md-preview.js"></script>
    <script src="/js/backoffice/modules/sortable.js"></script>
    <script src="/js/backoffice/params/administrationCtrl.js"></script>
    <script src="/js/backoffice/params/i18nCtrl.js"></script>
    <script src="/js/backoffice/params/paramsService.js"></script>
    <script src="/js/backoffice/projects/articleController.js"></script>
    <script src="/js/backoffice/projects/articleService.js"></script>
    <script src="/js/backoffice/projects/categoryBlogController.js"></script>
    <script src="/js/backoffice/projects/categoryBlogService.js"></script>
    <script src="/js/backoffice/projects/categoryProjectController.js"></script>
    <script src="/js/backoffice/projects/categoryProjectService.js"></script>
    <script src="/js/backoffice/projects/projectController.js"></script>
    <script src="/js/backoffice/projects/projectService.js"></script>
    <script src="/js/backoffice/tags/tagService.js"></script>
    <script src="/js/backoffice/tags/tagsController.js"></script>
    <script src="/js/backoffice/user/loginController.js"></script>
    <script src="/js/backoffice/user/userService.js"></script>
    <script src="/js/backoffice/user/usersController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>