<div class="col-lg-12 ">
<div class="panel panel-default">
    <div class="panel-heading">
    	<h2>Ajouter une catégorie</h2>
    	
    </div>
    <!-- /.panel-heading -->

    <div class="panel-body">

        	<div class="col-md-12 col-lg-12">
                <div class="row">
	        		
	        		<div class="form-group col-lg-3 col-md-4 col-sm-6">
	                    <label>Nom</label>
	                    <input class="form-control" placeholder="Mon nom de catégorie">
	                </div>
	                <div class="form-group col-lg-3 col-md-4 col-sm-6">
	                    <label>Couleur</label>
	                    <input type="text"  color-picker
format="hex"
alpha="false"
swatch="true"
swatch-pos="left"
case="upper">
	                    
	                </div>
	                <div class="form-group col-lg-3 col-md-4 col-sm-6">
	                    <label>Couleur text</label>
                   				
                                <span class="radio">
                                    <input type="radio" name="optionsRadiosInline" style="margin-left:3px;position:relative;" id="optionsRadiosInline1" value="option1" checked=""><span>Noir</span>
                                    <input type="radio" name="optionsRadiosInline" style="margin-left:3px;position:relative;" id="optionsRadiosInline2" value="option2"><span>Blanc</span>
                                </span>
						
	                </div>
	        		
	        		
                </div> 
               

			</div>
        	 
	</div>
	<div class="panel-footer" style="text-align:center">
		<div class="row">
			<div class="col-sm-4">
				
			</div>
			<div class="col-sm-4">
				<a ui-sref=".add"><div class="btn  btn-success col-sm-12"><i class="fa fa-floppy-o fa-fw"></i> Enregistrer et sortir</div></a>
			</div>
			<div class="col-sm-4">
    			<a ui-sref="^"><div class="btn  btn-danger col-sm-12"><i class="fa fa-times fa-fw"></i> Annuler</div></a>
			</div>
		</div>
	</div>
</div>
</div>